# systemd unit file for Review Sampler server
#
# place in /etc/systemd/system
# systemctl enable reviewsampler.service
# systemctl start reviewsampler.service

[Unit]
Description=Review Sampler Server for El-Dehaibi/MacDonald Product Review Analysis Survey
After=network.target

[Service]
User=root
Group=root
Type=forking
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/var/www/html/reviewsampler
EnvironmentFile=/var/www/html/reviewsampler/reviewsampler.env
ExecStart=/var/www/html/reviewsampler/reviewsampler.start
PIDFile=/var/www/html/reviewsampler/reviewsampler.pid
ExecStop=/var/www/html/reviewsampler/reviewsampler.stop
Restart=always

[Install]
WantedBy=multi-user.target